@import url(https://fonts.googleapis.com/css?family=Raleway);
.home-container {
  display: flex;
  justify-content: center;
}

body {
  overflow-x: hidden;
}

.banner {
  width: 85%;
  height: 250px;
  background-image: url(/src/components/images/bannerimage.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner-header {
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.banner-button {
  background-color: #000;
  border: 0;
  padding: 8px;
  border-radius: 7px;
  width: 105px;
}

.banner-button:hover {
  color: #000;
  text-align: center;
  background-color: #fff;
}

.product-container {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-cards-container {
  display: flex;
}

.product-card1 {
  height: 350px;
  text-align: center;
  width: 300px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* horizontal-offset vertical-offset blur-radius color */
  margin-left: 50px;
  margin-right: 50px;
}

.product-card-img1 {
  height: 250px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  width: 300px;
}

.product-card-price1 {
  font-weight: 700;
  font-size: 1.7rem;
}

.listHeader {
  text-align: center;
  margin-top: 75px;
  color: grey;
}

.moveBtn2 {
  background-color: black;
  color: #fff;
  height: 30px;
  border: 0;
  border-radius: 7px;
  vertical-align: center;
  margin: 10px;
  width: 30px;
}

.moveBtn2:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid black;
}

@media (max-width: 768px) {
  .product-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .product-card1 {
    margin-bottom: 40px;
    margin-top: 40px;
    height: 170px;
    width: 170px;
  }

  .moveBtn2 {
    background-color: black;
    color: #fff;
    height: 30px;
    border: 0;
    border-radius: 7px;
    vertical-align: center;
    margin: 10px;
    width: 75px;
  }
}
