@import url(https://fonts.googleapis.com/css?family=Raleway);
.home-container {
  display: flex;
  justify-content: center;
}

.banner {
  width: 85%;
  height: 250px; /* Adjust the height as needed */
  background-image: url(/src/components/images/bannerimage.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner-header {
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.banner-button {
  background-color: #000;
  border: 0;
  padding: 8px;
  border-radius: 7px;
  width: 105px;
}

.banner-button:hover {
  color: #000;
  text-align: center;
  background-color: #fff;
}
